#!/bin/sh
set -e
#echo ">>>>> CCWS colcon wrapper >>>>>>"
#pwd
#echo "Command line: $@"
proot \
    --rootfs="${CCWS_SYSROOT}" \
    --cwd="$(pwd)" \
    --bind="${CCWS_WORKSPACE_DIR}" \
    --bind="${CCWS_PROFILE_DIR}/cross-pi-gcc":"${CCWS_COMPILER_ROOT}" \
    --bind=/bin/true \
    --bind=/bin/false \
    --bind=/bin/pwd \
    --bind=/bin/echo \
    --bind=/bin/ls \
    --bind=/bin/ln \
    --bind=/bin/sh \
    --bind=/bin/rm \
    --bind=/bin/bash \
    --bind=/bin/uname \
    --bind=/bin/mktemp \
    --bind=/usr/bin/env \
    --bind=/usr/bin/perl \
    --bind=/usr/bin/make \
    --bind=/usr/bin/cmake \
    --bind=/dev \
    --qemu=qemu-arm /host-rootfs/usr/bin/python3 /host-rootfs/usr/bin/colcon $@
#echo "<<<<< CCWS colcon wrapper <<<<<<"
