on:
    push:
        branches:
            - '**'
        tags:
            - 'NEVER'
    pull_request:
        types: [opened, reopened]

env:
    EMAIL: example@example.com
    AUTHOR: CI

jobs:
    focal:
        container: ros:noetic-ros-base-focal
        runs-on: ubuntu-latest

        # gcc -> 10: https://github.com/orgs/community/discussions/63391
        steps:
            - uses: actions/checkout@v5
            #- run: find /usr/lib/gcc -iname libtsan_preinit.o
            - run: sudo apt update
            - run: sudo apt upgrade --yes
            - run: sudo apt --yes --no-install-recommends install gcc-9 g++-9 gcc-10 g++-10
            - run: sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-10 10
            - run: sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-10 10
            - run: ./ccws/tools/bin/bootstrap.sh
            - run: make -f ccws/tests/test_main.mk ROS_DISTRO=noetic

    jammy_ros2:
        runs-on: ubuntu-22.04

        steps:
            - uses: actions/checkout@v5
            - run: make -f ccws/tests/test_main_ros2.mk ROS_DISTRO=humble

    jammy_ros2_ccws2:
        runs-on: ubuntu-22.04

        steps:
            - uses: actions/checkout@v5
            - run: make -f ccws/tests/test_main_ros2_ccws2.mk ROS_DISTRO=humble

    noble_ros2:
        runs-on: ubuntu-24.04

        steps:
            - uses: actions/checkout@v5
            - run: make -f ccws/tests/test_main_ros2_ccws2.mk ROS_DISTRO=jazzy

    jammy_conan:
        runs-on: ubuntu-22.04

        steps:
            - uses: actions/checkout@v5
            - run: make -f ccws/tests/test_conan.mk

    jammy_vcpkg:
        runs-on: ubuntu-22.04

        steps:
            - uses: actions/checkout@v5
            - run: make -f ccws/tests/test_vcpkg.mk

    jammy_nix:
        runs-on: ubuntu-22.04

        steps:
            - uses: actions/checkout@v5
            - run: make -f ccws/tests/test_nix.mk

# disabled due to package version conflict
#   libssl-dev : Depends: libssl1.1 (= 1.1.1d-0+deb10u6) but 1.1.1d-0+deb10u6+rpt1 is to be installed
# related
#   https://github.com/netdata/netdata/issues/11813
# to be deprecated anyway
#    cross_raspi:
#        container:
#            image: ros:noetic-ros-base-focal
#            options: --privileged
#        runs-on: ubuntu-latest
#
#        steps:
#            - uses: actions/checkout@v5
#            - run: sudo apt update
#            - run: sudo apt upgrade --yes
#            - run: ./ccws/tools/bin/bootstrap.sh
#            - run: make -f ccws/tests/test_cross.mk BUILD_PROFILE=cross_raspberry_pi ROS_DISTRO=melodic
#              env:
#                CCACHE_DISABLE: true

    noble_docker_cross:
        runs-on: ubuntu-24.04

        steps:
            - uses: actions/checkout@v5
            - run: sudo apt update
            - run: sudo apt upgrade --yes
            - run: make -f ccws/tests/test_cross_ros2.mk BUILD_PROFILE=cross_arm64 ROS_DISTRO=jazzy

    docker_jammy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: ./.github/actions/docker
              with:
                  distro: 'jammy'
                  push: false

    docker_noble:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: ./.github/actions/docker
              with:
                  distro: 'noble'
                  push: false
