on:
    push:
        branches:
            - '**'
        tags:
            - 'NEVER'
    pull_request:
        types: [opened, reopened]

env:
    EMAIL: example@example.com
    AUTHOR: CI

jobs:
    focal:
        container: ros:noetic-ros-base-focal
        runs-on: ubuntu-latest

        # gcc -> 10: https://github.com/orgs/community/discussions/63391
        steps:
            - uses: actions/checkout@v5
            #- run: find /usr/lib/gcc -iname libtsan_preinit.o
            - run: sudo apt update
            - run: sudo apt upgrade --yes
            - run: sudo apt --yes --no-install-recommends install gcc-9 g++-9 gcc-10 g++-10
            - run: sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-10 10
            - run: sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-10 10
            - run: ./ccws/scripts/bootstrap.sh
            - run: make -f ccws/tests/test_main.mk ROS_DISTRO=noetic

    jammy_ros2:
        runs-on: ubuntu-22.04

        steps:
            - uses: actions/checkout@v5
            - run: make -f ccws/tests/test_main_ros2.mk ROS_DISTRO=humble

    jammy_ros2_ccws2:
        runs-on: ubuntu-22.04

        steps:
            - uses: actions/checkout@v5
            - run: make -f ccws/tests/test_main_ros2_ccws2.mk ROS_DISTRO=humble

    noble_ros2:
        runs-on: ubuntu-24.04

        steps:
            - uses: actions/checkout@v5
            - run: pip install flake8
            - run: sudo apt update
            - run: sudo apt upgrade --yes
            - run: make -f ccws/tests/test_main_ros2_ccws2.mk ROS_DISTRO=jazzy

    jammy_conan:
        runs-on: ubuntu-22.04

        steps:
            - uses: actions/checkout@v5
            - run: make -f ccws/tests/test_conan.mk

    jammy_vcpkg:
        runs-on: ubuntu-22.04

        steps:
            - uses: actions/checkout@v5
            - run: make -f ccws/tests/test_vcpkg.mk

    jammy_nix:
        runs-on: ubuntu-22.04

        steps:
            - uses: actions/checkout@v5
            - run: make -f ccws/tests/test_nix.mk

    cross_raspi:
        container:
            image: ros:noetic-ros-base-focal
            options: --privileged
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v5
            - run: sudo apt update
            - run: sudo apt upgrade --yes
            - run: ./ccws/scripts/bootstrap.sh
            - run: make -f ccws/tests/test_cross.mk BUILD_PROFILE=cross_raspberry_pi ROS_DISTRO=melodic
              env:
                CCACHE_DISABLE: true

    noble_docker_cross:
        runs-on: ubuntu-24.04

        steps:
            - uses: actions/checkout@v5
            - run: make docker_install
            - run: docker pull --platform linux/arm64 ubuntu:latest
            - run: make docker_mountpoint PLATFORM=arm64 IMAGE=ubuntu:latest BUILD_PROFILE=cross_raspberry_pi

    docker_jammy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: ./.github/actions/docker
              with:
                  distro: 'jammy'
                  push: false

    docker_noble:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: ./.github/actions/docker
              with:
                  distro: 'noble'
                  push: false
