# https://docs.github.com/en/actions/how-tos/reuse-automations/reuse-workflows
on:
    workflow_call:
        inputs:
            distro:
                required: false
                default: noble
                type: string
            build_target:
                required: false
                default: build_all
                type: string
            cloudsmith_repo:
                required: false
                default: ''
                type: string
            workspace_github_repo:
                required: false
                default: ${{ github.repository }}
                type: string
            workspace_version:
                required: false
                default: ${{ github.sha }}
                type: string
            package_version:
                required: false
                default: ''
                type: string
            package_github_repo:
                required: false
                default: ''
                type: string
            profile:
                required: false
                default: 'reldebug'
                type: string
        secrets:
            cloudsmith_token:
                required: false

jobs:
    deb:
        runs-on: ubuntu-latest
        steps:
            # https://github.com/docker/setup-qemu-action
            - uses: docker/setup-qemu-action@v3
            - run: docker pull asherikov/ccws_${{ inputs.distro }}
            - run: |
                mkdir -p src
                docker run --rm \
                    --volume ./src:/ccws/workspace/src \
                    asherikov/ccws_${{ inputs.distro }} \
                    sh -c " \
                        git fetch --all \
                        && git checkout master \
                        && make checkout_src \
                            SOURCE_SPACE_REPO=${{ github.server_url }}/${{ inputs.workspace_github_repo }}.git \
                            SOURCE_SPACE_VERSION=${{ inputs.workspace_version }} \
                            PKG_REPO=${{ github.server_url }}/${{ inputs.package_github_repo }}.git \
                            PKG_VERSION=${{ inputs.package_version }}"
            - run: |
                mkdir -p artifacts
                docker run --rm --privileged \
                    --volume ./src:/ccws/workspace/src \
                    --volume ./artifacts:/ccws/workspace/artifacts \
                    --env BUILD_PROFILE=${{ inputs.profile }} \
                    --env CCACHE_DISABLE=true \
                    asherikov/ccws_${{ inputs.distro }} \
                    sh -c " \
                        git fetch --all \
                        && git checkout master \
                        && apt update \
                        && make dep_install BUILD_PROFILE=reldebug \
                        && make bp_install_build \
                        && make cross_install IMAGE=ubuntu:${{ inputs.distro }} \
                        && make cross_mount \
                        && make ${{ inputs.build_target }} BUILD_PROFILE=deb,${{ inputs.profile }} JOBS=2"
            - if: ${{ inputs.cloudsmith_repo != '' }}
              run: |
                docker run --rm \
                    --volume ./artifacts:/ccws/workspace/artifacts \
                    --env CLOUDSMITH_API_KEY=${{ secrets.cloudsmith_token }} \
                    asherikov/ccws_${{ inputs.distro }} \
                    sh -c " \
                        git fetch --all \
                        && git checkout master \
                        && make cloudsmith_install \
                        && make cloudsmith_push_all REPO=${{ inputs.cloudsmith_repo }}"
