# https://docs.github.com/en/actions/how-tos/reuse-automations/reuse-workflows
on:
    workflow_call:
        inputs:
            distro:
                required: false
                default: noble
                type: string
            version:
                required: true
                default: ''
                type: string
            push:
                required: false
                default: true
                type: string

env:
    WORKSPACE_SRC: ${{ github.workspace }}
    BUILD_PROFILE: doxygen

jobs:
    dox:
        container: asherikov/ccws_${{ inputs.distro }}
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v5
              with:
                submodules: true
                fetch-depth: 0
                path: ./
            - run: |
                cd /ccws
                git fetch --all
                git checkout master
                make wsupdate_pkgs_shallow
                make
            - if: ${{ inputs.push == 'true' }}
              run: |
                git config --global user.name github-actions
                git config --global user.email github-actions@github.com
                cd /ccws
                make bp_doxygen_gh_pages GH_PAGES_DIR=${WORKSPACE_SRC}/gh-pages MESSAGE="Automated update ${{ inputs.version }}"
