# https://docs.github.com/en/actions/how-tos/reuse-automations/reuse-workflows
on:
    workflow_call:
        inputs:
            distro:
                required: false
                default: noble
                type: string
            build_target:
                required: false
                default: build_all
                type: string
            workspace_github_repo:
                required: false
                default: ${{ github.repository }}
                type: string
            workspace_version:
                required: false
                default: ${{ github.sha }}
                type: string
            package_github_repo:
                required: false
                default: ''
                type: string
            package_version:
                required: false
                default: ''
                type: string
            profiles:
                required: false
                default: '["static_checks", "scan_build", "reldebug", "addr_undef_sanitizers", "thread_sanitizer", "deb"]'
                type: string


defaults:
    run:
        working-directory: /ccws

env:
    WORKSPACE_SRC: ${GITHUB_WORKSPACE}/src

jobs:
    static:
        if: ${{ contains(fromJSON(inputs.profiles), 'static_checks') }}
        container: asherikov/ccws_${{ inputs.distro }}
        runs-on: ubuntu-latest
        env:
            BUILD_PROFILE: static_checks
            CCACHE_DISABLE: true
        steps:
            - run: |
                make checkout_src \
                    SOURCE_SPACE_REPO=${{ github.server_url }}/${{ inputs.workspace_github_repo }}.git \
                    SOURCE_SPACE_VERSION=${{ inputs.workspace_version }} \
                    PKG_REPO=${{ github.server_url }}/${{ inputs.package_github_repo }}.git \
                    PKG_VERSION=${{ inputs.package_version }}
            - run: make

    scan_build:
        if: ${{ contains(fromJSON(inputs.profiles), 'scan_build') }}
        container: asherikov/ccws_${{ inputs.distro }}
        runs-on: ubuntu-latest
        env:
            BUILD_PROFILE: scan_build
            CCACHE_DISABLE: true
        steps:
            - run: |
                make checkout_src \
                    SOURCE_SPACE_REPO=${{ github.server_url }}/${{ inputs.workspace_github_repo }}.git \
                    SOURCE_SPACE_VERSION=${{ inputs.workspace_version }} \
                    PKG_REPO=${{ github.server_url }}/${{ inputs.package_github_repo }}.git \
                    PKG_VERSION=${{ inputs.package_version }}
                sudo apt update
                make dep_install
            - run: |
                make ${{ inputs.build_target }}

    reldebug:
        if: ${{ contains(fromJSON(inputs.profiles), 'reldebug') }}
        container: asherikov/ccws_${{ inputs.distro }}
        runs-on: ubuntu-latest
        env:
            BUILD_PROFILE: reldebug
            CCACHE_DISABLE: true
        steps:
            - run: |
                make checkout_src \
                    SOURCE_SPACE_REPO=${{ github.server_url }}/${{ inputs.workspace_github_repo }}.git \
                    SOURCE_SPACE_VERSION=${{ inputs.workspace_version }} \
                    PKG_REPO=${{ github.server_url }}/${{ inputs.package_github_repo }}.git \
                    PKG_VERSION=${{ inputs.package_version }}
                sudo apt update
                make dep_install
            - run: |
                make ${{ inputs.build_target }}
                make wstest

    addr_undef_sanitizers:
        if: ${{ contains(fromJSON(inputs.profiles), 'addr_undef_sanitizers') }}
        container: asherikov/ccws_${{ inputs.distro }}
        runs-on: ubuntu-latest
        env:
            BUILD_PROFILE: addr_undef_sanitizers
            CCACHE_DISABLE: true
        steps:
            - run: |
                make checkout_src \
                    SOURCE_SPACE_REPO=${{ github.server_url }}/${{ inputs.workspace_github_repo }}.git \
                    SOURCE_SPACE_VERSION=${{ inputs.workspace_version }} \
                    PKG_REPO=${{ github.server_url }}/${{ inputs.package_github_repo }}.git \
                    PKG_VERSION=${{ inputs.package_version }}
                sudo apt update
                make dep_install
            - run: |
                make ${{ inputs.build_target }}
                make wstest

    thread_sanitizer:
        if: ${{ contains(fromJSON(inputs.profiles), 'thread_sanitizer') }}
        container: asherikov/ccws_${{ inputs.distro }}
        runs-on: ubuntu-latest
        env:
            BUILD_PROFILE: thread_sanitizer
            CCACHE_DISABLE: true
        steps:
            - run: |
                make checkout_src \
                    SOURCE_SPACE_REPO=${{ github.server_url }}/${{ inputs.workspace_github_repo }}.git \
                    SOURCE_SPACE_VERSION=${{ inputs.workspace_version }} \
                    PKG_REPO=${{ github.server_url }}/${{ inputs.package_github_repo }}.git \
                    PKG_VERSION=${{ inputs.package_version }}
                sudo apt update
                make dep_install
            - run: |
                make ${{ inputs.build_target }}
                make wstest

    deb:
        if: ${{ contains(fromJSON(inputs.profiles), 'deb') }}
        uses: ./.github/workflows/reusable_deb.yaml
        with:
            distro: ${{ inputs.distro }}
            workspace_github_repo: ${{ inputs.workspace_github_repo }}
            workspace_version: ${{ inputs.workspace_version }}
            package_version: ${{ inputs.package_version }}
            package_github_repo: ${{ inputs.package_github_repo }}
            build_target: ${{ inputs.build_target }}
